# Groups composition

The assotiation student-group is stored in "groups.csv", you can use the following code to explore it

In [1]:
import pandas as pd
groups = pd.read_csv("groups.csv", sep=";")

Set your surname and look for your group

In [2]:
surname='Azza'
groupID = groups.loc[groups['Surname']==surname]['Group ID'].values[0]
groups.loc[groups['Group ID']==groupID]

               Surname       Name  Group ID Project
24  Sayouti Souleymane  Abdoulaye         7     NaN
25                Azza  Bouleimen         7     NaN
26             Andrade     Bianca         7     NaN
84         De Oliveira      Thais         7     NaN