# Groups composition

The assotiation student-group is stored in "groups.csv", you can use the following code to explore it

In [29]:
import pandas as pd
groups = pd.read_csv("groups.csv", sep=";")

Set your surname and look for your group

In [30]:
surname='Barbato'
groupID = groups.loc[groups['Surname']==surname]['Group ID'].values[0]
groups.loc[groups['Group ID']==groupID]

   Surname        Name  Group ID Project
0  Barbato   Francesco         1     NaN
1  Boccato     Tommaso         1     NaN
2    Rossi  Valentina          1     NaN
3  Serafin       Mario         1     NaN