# Groups composition

The assotiation student-group is stored in "groups.csv", you can use the following code to explore it

In [1]:
import pandas as pd
groups = pd.read_csv("groups.csv", sep=";")

Set your surname and look for your group

In [2]:
surname='Salicari'
groupID = groups.loc[groups['Surname']==surname]['Group ID'].values[0]
groups.loc[groups['Group ID']==groupID]

      Surname       Name  Group ID Project
12  Menegazzo      Fabio         4     NaN
13   Salicari   Leonardo         4     NaN
14      Mazza  Francesco         4     NaN
15   Antonaci    Edoardo         4     NaN