# Groups composition

The assotiation student-group is stored in "groups.csv", you can use the following code to explore it

In [35]:
import pandas as pd
groups = pd.read_csv("groups.csv", sep=";")

Set your surname and look for your group

In [36]:
surname='Sirot'
groupID = groups.loc[groups['Surname']==surname]['Group ID'].values[0]
groups.loc[groups['Group ID']==groupID]

                        Surname         Name  Group ID Project
89  Narsam                       Rohit Sai          24     NaN
90                    Solipuram     Aamuktha        24     NaN
91                        Sirot       Victor        24     NaN